.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1D;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 60%;
    width: 35%;
 }

html, body{
    background-color: #F7F7F7 !important;
}

.header{
    text-align: center;
    margin-bottom: 15px;
}

.scoreboard-item{
    padding: 5px;
    margin-bottom: 10px;
}

.scoreboard-item h4{
    margin-bottom: 0px;
}

.scoreboard{
    position:fixed;
    display:flex;
    flex-direction:column;
    top:0;
    bottom:0;
    right:0;
    width:20%;
    overflow-x:hidden;
    flex:1;
}

.musicplayer{
    width: 80%;
    display: flex;
}


.track-div{
    text-align: center;
    width: 50%;
    margin: 5%;
}

.track-div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);  
}

.song-title{
    font-size: 1.5em;
    letter-spacing: 3pt;
}

.player-input{
    margin: 5%;
    width: 30%;
    text-align: center;
}

.playlist-picker{
    padding: 32px;
}