.btn{
    margin-top: 4px;
    margin-bottom: 8px;


}
.ScreenLobby{
    background-color: blue
}

#containerLogoSmall {
    max-width: 1400px;
}

#game-options{
    display: flex;
    justify-content: center;
    align-items: center;
}


